<ion-header>
  <ion-toolbar>
    <ion-title>Tutorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-slides pager (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideMoved()">
    <ion-slide>
        <div class="diag" style="background: url('../../assets/img/whitebg.svg') no-repeat">
          <ion-icon ios="ios-warning" md="md-warning" color="danger" [@bounce]='state' (@bounce.done)="animationDone()"></ion-icon>
        </div>
        <div [@bounce]='state'>
          <h2>Send out help</h2>
          <p>Click on the button in the main page if you're in trouble!</p>
        </div>
      </ion-slide>
  
      <ion-slide>
        <div class="diag" style="background: url('assets/img/whitebg.svg') no-repeat">
          <ion-icon ios="ios-person" md="md-person" color="primary" [@bounce]='state' (@bounce.done)="animationDone()"></ion-icon>
        </div>
        <div [@bounce]='state'>
          <h2>Set details</h2>
          <p>Set details in your profile page for the admin team to identify you.</p>
        </div>
      </ion-slide>
  
      <ion-slide>
          <div class="diag" style="background: url('assets/img/whitebg.svg') no-repeat">
            <ion-icon ios="ios-clock" md="md-clock" color="primary" [@bounce]='state' (@bounce.done)="animationDone()"></ion-icon>
          </div>
          <div [@bounce]='state'>
            <h2>We'll arrive as soon as possible </h2>
            <p>We ask that you stay calm as much as possible.</p>
          </div>
        </ion-slide>
    </ion-slides>
  
    <button (click)="skip()" id="skip">{{ skipMsg }}</button>

</ion-content>
