<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Admin Home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
       HOME
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <br/>
  <p text-center>
  <font size="4">Welcome to the Admin Dashboard</font>
  </p>
<ion-card>
  <ion-card-content>
    <p text-center>
     <font size="4"><b>Number of cases Attended: </b>{{messagesList2.length}}</font>
    </p>
    <p text-center>
      <font size="4"><b>Number of cases Pending: </b>{{messagesList.length}}</font>
    </p>
  </ion-card-content>
</ion-card>
  
</ion-content>
