<ion-header>
  <ion-toolbar>
    <ion-title>ATTENDED</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let message of lazyList" class="options">
      <ion-card-header>
        
        <ion-card-title >
          Student Name: {{message.name}}
        </ion-card-title>
  
        <ion-card-subtitle>
          at {{message.currentDate.toDate()  | date:'dd/MM/yyyy h:mm:ss a'}}
        </ion-card-subtitle>
  
      </ion-card-header>
  
      <ion-card-content>
        {{ message.headline }}
        <br/>
        <a routerLink="/studentprofile/{{message.studID}}" routerDirection="forward"> Student Profile</a>
        <br />
        <div *ngIf="message.desc">
        Description: {{ message.desc }}
        <br />
        </div>
        <div *ngIf="!message.desc">  
        </div>
        Tap this link to view on map: <a href="{{message.mapURL}}" target="_blank">Student's Location</a>
        <br />
        <div *ngIf="message.imageURL">
        <a id="image1" href={{message.imageURL}} target="_blank">Student's Location Image</a>
        </div>
        <div *ngIf="!message.imageURL">
        </div>
        <br />
        Attended by : {{message.attendedwho}}
      </ion-card-content>
    </ion-card>
  
    <ion-infinite-scroll (ionInfinite)="loadMoreMessage($event)">
      <ion-infinite-scroll-content loadingSpinner="bubble" loadingText="loading message..">
  
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>