<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
       Register Your profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-item>
  <ion-label>Name:</ion-label>
  <ion-input [(ngModel)]="name"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Admin Number:</ion-label>
  <ion-input [(ngModel)]="adminNo"></ion-input>
</ion-item>
<ion-item >
  <ion-label id="bomb">School:</ion-label>
  <ion-input>
      <ion-select [(ngModel)]="school" name="school" (ngModelChange)='onSchoolSelected($event)'>
          <ion-select-option value="SIT">School of Information Technology</ion-select-option>
          <ion-select-option value="SBM">School of Business</ion-select-option>
          <ion-select-option value="SHS">School of Health Science</ion-select-option>
          <ion-select-option value="SIDM">School of Interactive and Digital Media</ion-select-option>
          <ion-select-option value="SEG">School of Engineering</ion-select-option>
          <ion-select-option value="SDN">School of Design</ion-select-option>
          </ion-select>
  </ion-input>
</ion-item>
<ion-item>
  <ion-label id="bomb" style="text-overflow: initial !important;
  overflow: initial !important;">Course:</ion-label>
  <ion-input id="test">
    <ion-select [(ngModel)]="course">
<ion-select-option  *ngFor = "let studentc of studentcourse" [value]="studentc.name">
  {{studentc.name}}
</ion-select-option>
</ion-select>
  </ion-input>
</ion-item>
<ion-button
expand="block"
(click)="registerProfile()"
>
Create an Account
</ion-button>
</ion-content>
