#emergencyBtn{
  left: 32%;
  bottom: 70px;
  transform: translate(-50%, -50%);
  margin: 20px 0 auto;
  position: fixed;
  display:inline-block;
  text-align: center;
}
#emergencyBtn2{
  left: 35%;
  bottom: 70px;
  transform: translate(-50%, -50%);
  margin: 20px 0 auto;
  position: fixed;
  display:inline-block;
  text-align: center;
}

#emergencyIntro{
  position: fixed;
  left: 50%;
  top: 150px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

#emergencyIcon{
    margin-top:100%;
    text-align: center;
}

#emergencyIonButton{
    height: 110px;
    width: 110px;
    float: left;
    font-size: 12px;

}
#emergencyIonButton2{
  height: 110px;
  width: 110px;
  float: right;
  margin-left: 250px;
  font-size: 12px;
  
}

#emergencyText{
    text-align: center;
}
#hotlineText{
  text-align: center;
}

