<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Student Home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      EMERGENCY HELP
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>

  <!-- <ion-button (click)="getCurrentLocation()">Get Current Location</ion-button> -->
  <br/>
  <!-- lat: {{lat}}, lng: {{lng}} -->

  <br/>



  <div id="emergencyIntro">
    <div id="emergencyIcon">
        <img src="../../assets/icons/siren.png"/>
    </div>
    <br/>
    <div id="emergencyText">
        <p>Please tap the red button below to make an emergency notification</p>
    </div>
  </div>


  <hr>
  <input #inputcamera type="file" accept="image/*" capture="camera" (change)="onUpload($event)"  />
    <div id="emergencyBtn">
      <ion-button shape="round" id="emergencyIonButton" (click)="getCurrentLocation()" color="danger">
        <!-- <ion-icon name="alert"></ion-icon> -->
        SEND HELP
      </ion-button>
    </div>
      
    

  
  

</ion-content>


